body {
  margin: 0;
  background-color: white;
  font-family: monospace;
}
#header {
  width: 100%;
  height: 5vw;
  background-color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 15px;
}
.button {
  float: right;
  height: 4vw;
  width: 8vw;
  line-height: 4.5vw;
  border: 2px solid rgb(0, 0, 0);
  font-size: 1.2vw;
  color: white;
}
.button:hover {
  color: #cfcfcf;
  cursor: pointer;
}
.home {
  float: left;
  height: 4vw;
  width: 6vw;
  line-height: 4.5vw;
  border: 2px solid rgb(0, 0, 0);
  font-size: 1.2vw;
  color: white;
}
.home:hover {
  color: #cfcfcf;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 2vw;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-size: 1vw;
  color: white;
}
.body {
  margin: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 890px;
}
.main {
  width: 640px;
  position: relative;
}
.side {
  margin-left: 10px;
  width: 230px;
}
.title {
	text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 5px;
}
.select {
	width: 100%;
	height: 115px;
}
.thumbnail {
	width: 80px;
	height: 80px;
}
.capture {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 3vw;
  width: 31.5vw;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 3vw;
  font-size: 2vw;
  display: none;
}
.capture:hover, .captureFile:hover{
	cursor: pointer;
	background-color: rgba(128, 154, 188, 0.5);
}
.camera {
  width: 3vw;
  height: 3vw;
}
.container {
  position: relative;
  display: inline-block;
}
.icon {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#hat {
  position: absolute;
  width: 24vw;
  height: 18vw;
  top: 11.5vw;
  left: 18vw;
}
#cigarette {
  position: absolute;
  width: 6vw;
  height: 4vw;
  top: 0px;
  left: 100px;
}
#cadre {
  position: absolute;
  width: 640px;
  height: 480px;
  top: 115px;
  left: 0px;
}
.removable:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.39);
}
.captureFile {
  position: absolute;
  height: 50px;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 50px;
  bottom: 0px;
  font-size: 25px;
  display: none;
}
.montage-div {
  position: relative;
}
#webcam {
  display: none;
}
#camera-not-available {
  width: 26vw;
  height: 18vw;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 2vw;
  line-height: 18vw;
  margin-bottom: 1vw;
}